[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Minimum version for IMDSv2 support
boto3 = ">=1.13.23"
docopt = ">=0.6.2"
# Use our fork for required functionality that is not in LLNL/scraper yet.
llnl-scraper = {file = "https://github.com/cisagov/scraper/archive/v0.14.0-dev.tar.gz"}

[requires]
python_full_version = "3.11.8"
