[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Minimum version for IMDSv2 support
boto3 = ">=1.42.94"
# We need to use the system package version of this package. This matches the version
# available for Alpine Linux 3.23. We must also ignore dependabot updates for this
# dependency as long as we are using the system package.
cryptography = "46.0.7"
docopt = ">=0.6.2"
# Minimum version with newer versions of cloc compatibility
llnl-scraper = ">=0.15.0"

[requires]
python_full_version = "3.12.13"
